<!-- components/footer.html -->
<footer style="background: linear-gradient(90deg, #0a362a, #0a362a);" class="text-white pt-4 pb-3 mt-auto">


  <div class="container">
    <div class="row text-center text-md-start">
      <!-- Column 1: Logo and About Text -->
       <div class="col-12 col-md-3 mb-4 mb-md-0">
        
        <img src="assets/images/logo/logo.png" alt="Shrava's World Logo" style="height: 60px; width: auto; display: block; background-color: rgb(200, 233, 213);">
        <p class="mt-2 small">
        Fresh & Organic – From Our Farms to Your Home: Ghee, Grains, Fruits & More!
        </p>
      </div>

      <!-- Column 2: Main Navigation -->
      <div class="col-6 col-md-3 mb-4 mb-md-0">
        <h6 class="text-uppercase mb-3">Explore</h6>
        <ul class="list-unstyled">
          <li><a href="index.html" class="text-white text-decoration-none">Home</a></li>
          <li><a href="about.html" class="text-white text-decoration-none">About Us</a></li>
          <li><a href="products.html" class="text-white text-decoration-none">Products</a></li>
          <li><a href="certificates.html" class="text-white text-decoration-none">Certificates</a></li>
          <li><a href="contact.html" class="text-white text-decoration-none">Contact Us</a></li>
        </ul>
      </div>

      <!-- Column 3: Legal -->
      <div class="col-6 col-md-3 mb-4 mb-md-0">
        <h6 class="text-uppercase mb-3">Legal</h6>
        <ul class="list-unstyled">
          <li><a href="privacypolicy.html" class="text-white text-decoration-none">Privacy Policy</a></li>
          <li><a href="t&c.html" class="text-white text-decoration-none">Terms & Conditions</a></li>
        </ul>
      </div>

      <!-- Column 4: Social Icons -->
      <!-- Column 4: Social Icons -->
<div class="col-12 col-md-3">
  <h6 class="text-uppercase mb-3">Connect</h6>
  <a href="https://wa.me/9881093971" target="_blank" class="text-white text-decoration-none d-block mb-2">
    <i class="fab fa-whatsapp me-2"></i>+91 9881093971
  </a>
  <a href="https://www.instagram.com/machindrabhorade?igsh=aW50b2w3MWEydmdt" target="_blank" class="text-white text-decoration-none d-block mb-2">
    <i class="fab fa-instagram me-2"></i> Instagram
  </a>
  <a href="https://www.facebook.com/share/16nQQAh2Gt/" target="_blank" class="text-white text-decoration-none d-block mb-2">
    <i class="fab fa-facebook me-2"></i> Facebook
  </a>
  <a href="https://www.linkedin.com/in/machindra-bhorade-908204390?lipi" target="_blank" class="text-white text-decoration-none d-block mb-2">
    <i class="fab fa-linkedin me-2"></i> LinkedIn
  </a>
  <a href="tel:+8087833971" class="text-white text-decoration-none d-block mb-2">
    <i class="fas fa-phone-alt me-2"></i>+91 8087833971
  </a>
  <a href="mailto:shrawasworld@gmail.com" class="text-white text-decoration-none d-block">
    <i class="fas fa-envelope me-2"></i> shravasworld@gmail.com
  </a>

</div>

    </div>

    <hr class="bg-light my-3">

    <p class="mb-0 text-center">&copy; 2025 Shrava's World. All rights reserved.</p>
  </div>
</footer>

<!-- Font Awesome (Include in <head> if not already added) -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
